<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <!--<add name="Database" connectionString="Data Source=DESKTOP-C610LB4\SQLEXPRESS; database = G02_Warehouse; integrated security = true;"/>-->
    <add name="Database" connectionString="Data Source=DESKTOP-C610LB4\SQLEXPRESS; database = G02_Warehouse; integrated security = true;"/>
  </connectionStrings>
</configuration>
